.team-ribbon {
  background-image: url(../../nfl-team-logos-sprite.png);
  background-color: $ravens-purple;
  background-position: 6px 12px;
  background-repeat: no-repeat;
  background-size: 900px;
  @include flex(0 0 120px);
  height: 150px;
  margin-left: 18px;
  margin-right: 36px;
  position: relative;
  width: 120px;

  &:after {
    border-left: 60px solid transparent;
    border-bottom: 18px solid white;
    border-right: 60px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0px;
  }

  &.ravens {
    background-color: $ravens-purple;
    background-position: 6px 12px;
  }

  &.redskins {
    background-color: $redskins-burgundy;
    background-position: -678px -330px;
  }
}
