// Colors
$lightGray: #e9e9e9;
$gray: #757575;
$tableCopy: #393939;
$ravens-purple: #2a2c92;
$ravens-gold: #d2ab1f;
$bengals-orange: #ff4900;
$browns-brown: #30180b;
$browns-orange: #f15900;
$steelers-gray: #b9bcbf;
$texans-red: #c9273d;
$colts-blue: #003c7d;
$jaguars-blue: #136679;
$titans-light-blue: #3f94d6;
$bills-blue: #003193;
$dolphins-orange: #de6305;
$jets-green: #0d3719;
$patriots-blue: #002147;
$broncos-orange: #fb5100;
$chiefs-red: #cf231f;
$raiders-silver: #c4c7ca;
$chargers-blue: #3896d8;
$bears-blue: #031831;
$lions-gray: #b0b7bc;
$packers-green: #203731;
$vikings-purple: #4e2d89;
$falcons-black: black;
$buccaneers-black: black;
$panthers-blue: #0098de;
$saints-gold: #d1ba6f;
$cowboys-gray: #cccccc;
$giants-blue: #003a82;
$eagles-green: #014c55;
$redskins-burgundy: #921c0c;
$sf49ers-red: #aa0000;
$cardinals-red: #9e002b;
$rams-gold: #957745;
$seahawks-blue: #3a507d;

// Fonts
$stint: "Stint Ultra Expanded", sans-serif;
$main-italic: italic;
$main-bold: 700;
